.overlay {
	position: fixed;
    top: 0; left: 0;
	width: 100vw;
    min-height: 100vh;
	overflow: auto;
	z-index: 15;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay__content {
    max-height: 90%;
    max-width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    position: fixed;
}

.popup__close {
    position: fixed;
    right: 0;
    top: 0;
}