.search {
  width: 100%;
}
.search__input {
  width: 100%;
  display: flex;
}

.search__input input {
  width: 100%;
  height: 66px;
  padding: 0 23px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
